*
{
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;

}



html, body
{
  height: auto;
  background-color: #fff;
  width: 99vw;
  scroll-behavior: smooth;
  text-align:center;
  font-family: poppins;
}



section
{
  height: 10vh;
  width: 100%;
}

a
{
  text-decoration: none;
}

.headerList
{
  list-style-type: none;
}


.topNavbar
{
  height: 8vh;
  position: fixed;
  background-color: #222245;
  z-index: 100;
  width: 100%;
}

.headerList li
{
  float: right;
  padding-right: 7vw;
  font-size: 5vh;
  margin-top: 1vh;
  transition: all  300ms;
  -webkit-transition: all  300ms;
  -moz-transition: all  300ms;

}

.headerList li a
{
    color: #ddd;

}


.headerList li :hover
{
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-thickness: from-font;

}



section
{
    width: 100%;
    height: 100vh;

}








.mainHeadline
{
  margin-top: 16vh;
  font-size: 12vh;
  z-index: 1;
  color: #fff
}

.mainBackgroundWrapper
{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, rgba(2,0,.6,1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
